name: cd

on:
    push:
        branches: [master]
        paths:
          - 'go_version/**' 

jobs:
    deploy:
        name: Deploy
        runs-on: ubuntu-latest

        steps:
            - name: Check out code
              uses: actions/checkout@v4

            - name: Setup go
              uses: actions/setup-go@v5
              with:
                go-version: "1.25.1"